
.cities{
    border:2px solid white;
    font-size:3vw;
    color:white;
    width:50vw;
    border-radius:15px;
    margin-top:16px;
    padding-left:15px;
    padding-right:15px;
   margin-left:auto;
   margin-right:auto;
   
    }
.cities:hover{
    background-color: darkolivegreen;
}

.remove-btn{
    color:white;
    background-color:red;
    padding:6px;
    border-radius:9px;
    float:right;
    margin-top:1vw;
}
.remove-btn:hover{
    background-color:darkred;
}
.addcity-btn{
    position:fixed;
    bottom:5vh;
    right:2vw;
    color:white;
    background:green;
    border-radius:50%;
    border:2px solid green;
    font-size:5vw;
    text-decoration:none;
    padding:5px;
}
.addcity-btn:hover{
    background-color:blue;
}
.message-page{
    text-align:center;
}
.message{
    color:#696766;
    text-align:center;
   
}
.image{
    width:5vw;
    margin-top:25%;
}