.daily-forecast{
    -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);
    margin-top:4vh;
    background-color: #1b162e;
    backdrop-filter: blur(5px);
    width:30vw;
    display:flex;
    gap: 16px;
    overflow-x: auto;
    overscroll-behavior: contain;
    color:white;
    border-radius:15px;
    padding:5px;
    font-weight: bold;
}
.daily-forecast::-webkit-scrollbar{
    display: none;
}
.hourly{
    
    border-radius:5px;
    
}
